body {
/*  background-color: #f2f2f2; */
  background-color: #ededed;
  margin: 1%;
}

.pretty_container {
  border-radius: 5px;
/*  background-color: #f9f9f9; */
  background-color: #f9fbfb;
  margin: 5px;
  padding: 10px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.mini_container {
  border-radius: 5px;
/*background-color: #f9f9f9;*/
  background-color: #f9fbfb;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: right;
}


